<header class="section header-main header-unpin text-large z-50 anim-open-sesame">
  <div class="container">

    {% block header %}

      {# {% set query = craft.globalSets().handle('header') %}
      {% set headerEntry = query.one() %} #}

      <nav id="nav-main" class="nav-main flex justify-between items-center" role="navigation">
        <div class="font-medium logo">
          <a class="hidden md:block" href="{{ siteUrl }}">fffunction.studio</a>
          <a class="md:hidden" href="{{ siteUrl }}">fff.s</a>
        </div>

        <div class="nav-menu text-regular z-40">
          {% include "layout/nav.twig" %}
        </div>

        {# <div class="nav-burger toggle-menu relative z-50">
          <span></span>
          <span></span>
        </div> #}

      </nav>

    {% endblock %}

  </div>
</header>
