{# Default page #}

{% extends "core/base.twig" %}

{% block main %}

<div class="toggle-footer-off"></div>

<div class="flex min-h-screen items-center">
<section class="section bg-black text-white z-50">
    <div class="container">

        {% set query = craft.globalSets().handle("footer") %}
        {% set footerEntry = query.one() %}

        <div class="row my-16 md:my-20 lg:my-40 justify-center">
          <div class="col w-full md:w-6/12 lg:w-5/12">
            <div class="mb-8 md:mb-12 lg:mb-16">
              <p class="text-xlarge font-bold">
                Don't be a stranger.<br>
                Contact us.
              </p>
            </div>
          </div>
          <div class="col w-full md:w-6/12 lg:w-5/12">
            <div class="mb-8 md:mb-12 lg:mb-16">
              <p class="text-xlarge">
                +31 6 48 93 92 96<br>
                hello@fffunction.studio
              </p>
            </div>
          </div>
          <div class="col w-full md:w-6/12 lg:w-5/12">
            <div class="mb-8 md:mb-12 lg:mb-16">
              <p class="text-xlarge">
                Hallenweg 1C<br>
                5615 PP Eindhoven
              </p>
            </div>
          </div>
          <div class="col w-full md:w-6/12 lg:w-5/12">
            <div class="">
              <p class="text-xlarge">
                Instagram<br>
                Facebook
              </p>
            </div>
          </div>
        </div>

    </div>
  </section>
</div>

{% endblock %}