{# Default page #}

{% extends "core/base.twig" %}

{% block main %}

  <section class="hero">
    <div class="container">

      <div class="row">
        <div class="col w-full md:w-10/12 lg:w-8/12 mx-auto" style="max-width: 880px;">

          <h1 class="text-2xlarge">
            We are a new digital design studio passionate about making meaningful products for ambitious companies.
          </h1>
          <a class="text-regular" href="#">about the studio</a>

        </div>
      </div>

    </div>
  </section>

  {#  #}

  <section class="section bg-white text-black">
    <div class="container my-40">

      <div class="mover row">
        <div class="col w-full md:w-10/12 lg:w-8/12 mx-auto" style="max-width: 880px;">
          <p class="text-xlarge">
            With a skillset in brand strategy, design and code, we focus on getting clients to the next digital level. We create cum-in-your-cations, products and environments to (re)define brands, drive businesses and improve people’s lives.
          </p>
        </div>
      </div>

    </div>
  </section>

  {#  #}

  <section class="bg-white">
    <div class="container--no-padding">

      <div class="flex flex-wrap">
        <div class="highlight w-full md:w-8/12 lg:w-4/12 mx-auto">
          <div class="relative w-full z-10">
            <figure class="w-full highlight-portrait">
              <img src="https://source.unsplash.com/random/600x800" alt="">
            </figure>
            <div class="highlight-label section container absolute inset-0 z-20 flex flex-col justify-end">
              <p class="w-full text-2xlarge font-bold">
                A rich identity that sells.
              </p>
              <p class="w-full">
                KAMU bikes & coffee
              </p>
            </div>

          </div>
        </div>

        <div class="highlight w-full md:w-8/12 lg:w-4/12 mx-auto bg-gray-400">
          <figure class="w-full highlight-portrait">
            <img src="" alt="">
          </figure>
        </div>

        <div class="highlight w-full md:w-8/12 lg:w-4/12 mx-auto bg-gray-600">
          <figure class="w-full highlight-portrait">
            <img src="" alt="">
          </figure>
        </div>
      </div>

    </div>
  </section>

  {#  #}

  <section class="section bg-white text-black">
    <div class="container my-40">

      <div class="row lg:flex-row-reverse">
        <div class="col w-full mb-8 md:w-10/12 lg:w-5/12 md:mx-1/12 lg:ml-0 lg:mb-0">
          <figure class="w-full landscape bg-yellow-200">
            <img src="https://source.unsplash.com/random/800x600" alt="">
          </figure>
        </div>
        <div class="col w-full md:w-10/12 lg:w-4/12 md:mx-1/12 flex flex-col justify-center">
          <div>
            <h3 class="text-xlarge mb-2">The start of fffunction studio</h3>
            <p class="text-regular mb-4">We dig in deep, find the right approach and define goals that we’ll reach with a clear and thoughtful strategy.</p>
            <button class="button">Read Article</button>
          </div>
        </div>
      </div>

    </div>
  </section>

{% endblock %}