{# Default page #}

{% extends "core/base.twig" %}

{% block main %}

  <section class="hero relative anim-fade-out">
    <div class="container anim-perspective-wrapper absolute inset-0 flex items-center justify-center z-0">
      <div class="w-1/2">
        <div class="anim-perspective-card w-full" style="padding-top: 100%"></div>
      </div>
    </div>

    <div class="container pointer-events-none relative z-10" style="transform: translateZ(400px)">

      <div class="row">
        <div class="col w-full md:w-10/12 lg:w-8/12 mx-auto flex justify-center">
          <div class="anim-hero">
            <div class="anim-hero-logo block text-3xlarge">
              <span class="anime-hero-logo-item">fff</span>
              <span class="anim-hero-shrinker left">u</span>
              <span class="anim-hero-shrinker left">n</span>
              <span class="anim-hero-shrinker left">c</span>
              <span class="anim-hero-shrinker left">t</span>
              <span class="anim-hero-shrinker left">i</span>
              <span class="anim-hero-shrinker left">o</span>
              <span class="anim-hero-shrinker left">n</span>
              <span class="anime-hero-logo-item">.s</span>
              <span class="anim-hero-shrinker right">t</span>
              <span class="anim-hero-shrinker right">u</span>
              <span class="anim-hero-shrinker right">d</span>
              <span class="anim-hero-shrinker right">i</span>
              <span class="anim-hero-shrinker right">o</span>
            </div>
            <div class="anim-hero-text block text-3xlarge hidden">
              We are a new digital design team 
              passionate about making things 
              that work and look nice.
            </div>
          </div>

        </div>
      </div>

    </div>
  </section>

  {#  #}

{% endblock %}