.header-offset {
  padding-top: 120px;
}

.header-main {
  @apply fixed w-full flex items-center;
  mix-blend-mode: difference;
}

.header-main {
  @apply bg-transparent;
  padding-bottom: calc($site-offset / 2);
  padding-top: calc($site-offset / 2);
  transition: $short ease;
  
  .logo {
    transform-origin: left;
    transition: transform $short ease;
  }

  &.pinned {
    .logo {
      transform: scale(1);
    }
  }
}

@screen md {
  padding-top: $site-offset;
}
