/* grid */
$section-offset: 32px;
$gutter: 44px;
$site-max-width: 100rem;
$site-offset: 32px;
/* timing */
$short: 300ms;
$medium: 600ms;
$long: 900ms;
/* easing */
$ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
/* elements */
$header-height: calc($site-offset + 2rem);
/*  */
$burger-width: 1.5em;
$burger-height: 1em;